.todoList {
  width: 800px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    #31efcf 0%,
    #9487f1 51%,
    #31efcf 100%
  );
  background-size: 130% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
